/node_modules
/storage/*.key
/vendor
.env
.editorconfig
.env.example
.gitattributes
1-Projet-GSB-Gestion-Visites.docx
.phpunit.result.cache
.phpstorm.meta.php
yarn-error.log
/.idea
_ide_helper.php
tailwind.config.js
composer.lock
package-lock.json
